\.*
tmux/
new_vim/
build_gcc/

bin/zack
gcc-6.2.0.tar.gz
gcc-6.2.0/
gcc_build/
gmp-6.0.0/
gmp-6.0.0a.tar.bz2
libtool-2.4.2.tar.gz
libtool-2.4.2/
libtool-2.4.6.tar.gz
libtool-2.4.6/
mpc-1.0.3.tar.gz
mpc-1.0.3/
mpfr-3.1.4.tar.gz
mpfr-3.1.4/
